<h4 class="font-bold text-xl w-full text-center pb-10">{{ date | date:'MMMM' }}</h4>
<div class="grid grid-cols-7 gap-1">
  <div class="text-md font-bold text-center">L</div>
  <div class="text-md font-bold text-center">M</div>
  <div class="text-md font-bold text-center">M</div>
  <div class="text-md font-bold text-center">J</div>
  <div class="text-md font-bold text-center">V</div>
  <div class="text-md font-bold text-center">S</div>
  <div class="text-md font-bold text-center">D</div>
  @for (day of daysInMonthState; track day.day) {
    @if (day.day <= 0) {
      <div></div>
    } @else {
      <div class="rounded border-blue-500 p-2 border text-xl text-center"
           [class]="day.selected ? ' font-bold text-white bg-blue-500':''"
           [class.border-gray-500]="!day.selectable"
           (click)="changeDay(day)">
        {{ day.day }}
      </div>
    }
  }
</div>
